<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start"></ion-back-button>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
    <ion-label position="floating">Nome da Empresa</ion-label>
    <ion-input></ion-input>
  </ion-item>
<ion-item>
  <ion-label position="floating">Rua</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Bairro</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" >Numero</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Nome do funcionario</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button  size="large" type="submit">Cadastrar</ion-button>



</ion-content>
