<ion-content color="" padding>
      <ion-grid>
        <ion-row color="" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <ion-icon class="img" name="contact" color=""></ion-icon>
              <h3>Login</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" color="dark" placeholder="joao@email.com"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="senha" type="password" color="dark" placeholder="senha"></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" color="dark" (click)="irParaHome()" expand="block">Entrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div text-center>
          </div>
        </ion-row>
      </ion-grid>
  </ion-content>
