<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
      <ion-title>Empresa Moura</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
      
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>lucas</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="home"></ion-icon>
      <ion-label>Centro</ion-label>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Rua Fulano</ion-label>
      <ion-icon name="call"></ion-icon>
      <ion-label>(98)988011234</ion-label>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Rafael</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-icon name="home"></ion-icon>
        <ion-label>Centro</ion-label>
        <ion-icon name="pin"></ion-icon>
        <ion-label>Rua Fulano</ion-label>
        <ion-icon name="call"></ion-icon>
        <ion-label>(98)988011234</ion-label>
      </ion-item>
  
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>joão</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-icon name="home"></ion-icon>
        <ion-label>Centro</ion-label>
        <ion-icon name="pin"></ion-icon>
        <ion-label>Rua Fulano</ion-label>
        <ion-icon name="call"></ion-icon>
        <ion-label>(98)988011234</ion-label>
      </ion-item>
  
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card> 
  
  
        
  
</ion-content>
  