<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pagina inicial
    </ion-title>
  </ion-toolbar>
</ion-header>
<p></p>
<ion-searchbar placeholder="Buscar"></ion-searchbar>
      
  
<ion-content >
  <div padding>
<ion-button size="large" type="submit" (click)="irParaEmpresa1()" >
    Empresa1
</ion-button>

<ion-button size="large" type="submit" (click)="irParaEmpresa2()" >
  Empresa2
</ion-button>

<ion-button size="large" type="submit" (click)="irParaEmpresa3()" >
  Empresa3
</ion-button>
</div>




</ion-content>
